<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833919965229-v7u3cdiopqo4om69rfiglfv7ubhdqe1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833919965229-v7u3cdiopqo4om69rfiglfv7ubhdqe1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDUVIjl05rmxAaepqh6ZKOjwAnO2k0FVgg</string>
	<key>GCM_SENDER_ID</key>
	<string>833919965229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemPertahananTubuh</string>
	<key>PROJECT_ID</key>
	<string>sistem-pertahanan-tubuh</string>
	<key>STORAGE_BUCKET</key>
	<string>sistem-pertahanan-tubuh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833919965229:ios:5598f4de6714ea8feb80a4</string>
</dict>
</plist>